<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nguyen.huy.moneylover">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Authentication.MyFirebaseApp"
        android:allowBackup="true"
        android:icon="@drawable/logo_bkwallet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Report.View.ReportActivity" />
        <activity android:name=".Authentication.UserInfoActivity" />
        <activity android:name=".Transaction.View.PaymentMethodActivity"></activity>
        <activity
            android:name=".QRCodeModule.QRCodeScannerActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Authentication.SplashScreenActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Authentication.RetrievePasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Authentication.SignUpActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Authentication.LogInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".MainEconomy.View.MainEconomy" />
        <activity
            android:name=".MainEconomy.View.EditAndDeleteEconomy" />
        <activity
            android:name=".MainEconomy.View.AddEconomy" />
        <activity
            android:name=".Transaction.View.DetailTransactionActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".MainEvent.View.MainEventActivity" />
        <activity android:name=".MainEvent.View.AddEventActivity" />
        <activity android:name=".MainEvent.View.SymbolEventActivity" />
        <activity android:name=".MainEvent.View.EditEventActivity" />
        <activity
            android:name=".MainEvent.View.DetailEventActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".Transaction.View.TransactionActivity" />
        <activity android:name=".Transaction.View.SelectGroupActivity" />
        <activity android:name=".Transaction.View.EditTransactionActivity" />

        <activity android:name=".MainBill.View.SelectGroupActivity"/>
        <activity android:name=".MainBill.View.AddBillActivity" />
        <activity android:name=".MainBill.View.MainBillActivity" />
        <activity android:name=".MainBill.View.DialogRepeatActivity"
            android:theme="@style/Theme.AppCompat.Dialog.Alert"/>
        <activity android:name=".MainBill.View.DetailBillActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".MainBill.View.EditBillActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".MainBill.View.PaymentFormActivity"
            android:theme="@style/Theme.AppCompat.Light"/>
    </application>

</manifest>